/* ------------------------------------
 *  Color
 * --------------------------------- */
$black: #000;
$black-light: #4b3434;
$black-dark: #2b2b2b;

$gray: #6d7278;
$gray-light: #f0f0f0;

$white: #fff;

/* ------------------------------------
 *  Font
 * --------------------------------- */
$weight-300: 300;
$weight-400: 400;
$weight-500: 500;
$weight-700: 700;

/* ------------------------------------
 *  Inner Wrapper
 * --------------------------------- */
$inner-wrapper-l: 1920px;
$inner-wrapper-m: 1080px;
