/* ------------------------------------
 *  Color
 * --------------------------------- */
$black: #000;
$black-light: #575757;

$gray: #6d7278;
$gray-light: #e4e4e4;
$gray-lighter: #f8f8f8;

$white: #fff;
$red: #d93900;

/* ------------------------------------
 *  Font
 * --------------------------------- */
$weight-300: 300;
$weight-400: 400;
$weight-500: 500;
$weight-700: 700;

/* ------------------------------------
 *  Inner Wrapper
 * --------------------------------- */
$inner-wrapper-l: 1920px;
$inner-wrapper-m: 1080px;
