.booking-card__prices {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: rem(5);
  margin-bottom: rem(20);
  border-bottom: 1px solid $gray-light;
}

.booking-card__price-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 rem(10) rem(18);

  &:nth-of-type(2) {
    border-left: 1px solid $gray-light;
  }
}

.booking-card__price-title {
  @extend %light--12;

  margin-bottom: rem(8);
  color: $gray;
}

.booking-card__price-per-night {
  @extend %light--24;
}
