/* ------------------------------------
 *  Color
 * --------------------------------- */
$black: #1a1a1a;
$black-light: #4b3434;
$black-dark: #2b2b2b;

$gray: #707070;
$gray-light: #eaeaea;

$white: #fff;
$red: #964a4d;
$pink: #e5b4b7;

/* ------------------------------------
 *  Font
 * --------------------------------- */
$weight-400: 400;
$weight-500: 500;
$weight-900: 900;
