.mosaic-header {
  position: relative;
  height: 30vw;

  @include media('below-tablet') {
    height: 50vw;
  }
}

.mosaic-header__logo {
  position: absolute;
  top: 7%;
  left: 4%;
  z-index: 1;

  @include media('below-tablet') {
    width: 100px;
  }
}

.mosaic-header__items {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 15vw);

  @include media('below-tablet') {
    grid-template-rows: repeat(2, 25vw);
  }
}

.mosaic-header__item {
  position: relative;
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }
}

.mosaic-header__item--1 {
  grid-row: 1 / -1;
}

.mosaic-header__item--2,
.mosaic-header__item--3 {
  grid-column: 2 / -1;
}

.mosaic-header__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 70%;
  transform: scale(1);
  transition: transform 0.8s;

  .mosaic-header__item:hover & {
    transform: scale(1.1);
  }
}

.mosaic-header__placeholder {
  @extend %full-stretch;
  @extend %skeleton-style;

  border: 1px solid $white;
  animation: fading 1s infinite;
}

@keyframes fading {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 0.2;
  }
}
